* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Style */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}


.image-container-main {
    width: 60%;
    padding: 2rem 1.5rem;
}

.image-container-main img {
    max-width: 100%;
}

.content-container-main {
    width: 40%;
    padding-top: 1rem;
}

.image-container {
    width: 35%;
    padding: 1rem 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
}

.image-container-main h3 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* Header Section */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2rem;
}

.text-1 {
    font-weight: 500;
}

.text-2 {
    color: grey;
}

.desktop ul {
    display: flex;
}

.desktop ul a {
    padding: 0 1rem;
}

.desktop ul a:last-child {
    padding-right: 0;
}

.mobile {
    display: none;
}

/* Banner Section */

#banner-section {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.content h1,
.content h3 {
    padding-bottom: 2rem;
}

.content h1 {
    font-size: 2rem;
    font-weight: 700;
}

.content h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.content a {
    text-align: center;
    color: white;
    font-weight: 300;
}

.content .btn {
    background-color: black;
    display: inline-block;
    padding: 0.5rem 5.5rem;
}

/* Introduction Section */

#intro-section {
    display: flex;
}

.image-container-main h1 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.image-container-main p {
    padding-bottom: 2rem;
    font-weight: 300;
}

.image-container-main span {
    font-size: 0.85rem;
    font-weight: 400;
}

.content-container h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.content-container p {
    padding: 0.5rem 0;
    font-weight: 300;
}

.content-container a {
    color: blue;
}

/* Course Section */

#course-section {
    background-color: #f6f6f6;
}

#heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

#course-container-main {
    margin: 2rem 4.5rem;
    display: flex;
}

.course {
    width: 32.5%;
    background-color: white;
}

.course.two,
.course.five {
    margin: 0 2rem;
}

.course img {
    max-width: 100%;
}

.course-content {
    padding: 1rem 0 2rem 1rem;
}

.course-content h3 {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.course-content p {
    padding-top: 0.5rem;
    font-weight: 300;
}

/* Thesis Section */

#thesis-section h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2rem;
}


p.para {
    padding-bottom: 0;
}

/* Footer Section */

footer {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
    font-size: 0.75rem;
}

footer nav ul {
    display: flex;
}

footer nav ul a {
    padding: 0 0.5rem;
}

footer nav ul a:last-child {
    padding-right: 0;
}

