* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Style */

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    word-spacing: 0.10rem;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 0.875rem;
}

.image-container-main {
    width: 60%;
    padding: 2rem 1.5rem;
}

.image-container-main img {
    max-width: 100%;
    height: auto;
}

.content-container-main {
    width: 40%;
    padding-top: 1rem;
}

.image-container {
    width: 35%;
    padding: 1rem 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.content-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
}

.image-container-main h3 {
    font-size: 1.20rem;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* Header Section */

header {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 2rem;
}

.text-1 {
    font-weight: 500;
}

.text-2 {
    color: grey;
}

.desktop ul {
    display: flex;
}

.desktop ul a {
    padding: 0 1rem;
    transition: all 250ms ease-out 100ms;
}

.desktop ul a:hover {
    color: blue;
    font-size: 1.125rem;
}

.desktop ul a:last-child {
    padding-right: 0;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 750px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .mobile img,
    .mobile a {
        height: 1.5rem;
    }

    .logo {
        display: none;
    }
}

/* Banner Section */

#banner-section {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-top: 4rem;
}

.content h1,
.content h3 {
    padding-bottom: 2rem;
}

.content h1 {
    font-size: 2rem;
    font-weight: 700;
}

.content h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.content a {
    text-align: center;
    color: white;
    font-weight: 300;
    transition: all 500ms ease-out;
}

.content a:hover {
    position: relative;
    top: 3px;
    background-color: blue;
    color: white;
    font-weight: 500;
}

.content .btn {
    background-color: #696969;
    display: inline-block;
    padding: 0.5rem 5.5rem;
}

img.mob-img {
    display: none;
}

@media only screen and (max-width: 800px) {

    .content h1 {
        font-size: 1.50rem;
    }

    .content h3 {
        font-size: 1rem;
    }

    .content a {
        font-size: 0.875rem;
    }

    .content .btn {
        padding: 0.5rem 4.5rem;
    }
}

@media only screen and (max-width: 750px) {

    #banner-section {
        flex-direction: column;
    }

    .image-container-main {
        width: 100%;
        padding: 0 0 2rem 0;
    }

    .content-container-main {
        width: 100%;
    }

    .content-container-main .content {
        padding: 0 1rem 2rem 1rem;
    }

    .content {
        text-align: center;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content h3 {
        font-size: 1.125rem;
    }

    .content a {
        font-size: 0.90rem;
    }

    .content .btn {
        padding: 1rem 6rem;
    }

    br {
        display: none;
    }
}


/* Introduction Section */

#intro-section {
    display: flex;
}

.image-container-main h1 {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.image-container-main p {
    padding-bottom: 2rem;
    font-weight: 300;
}

.image-container-main span {
    font-size: 0.85rem;
    font-weight: 400;
}

.content-container h3 {
    font-size: 1.20rem;
    font-weight: 500;
}

.content-container p {
    padding: 0.5rem 0;
    font-weight: 300;
}

.content-container a {
    color: blue;
}

.container.guest {
    background-color: #88cbdc;
}

.container {
    transition: all 800ms ease-out;
}

.container:hover {
    position: relative;
    left: 3px;
}

@media only screen and (max-width: 800px) {

    .image-container-main h1 {
        font-size: 1.50rem;
    }

    .content-container h3 {
        font-size: 1rem;
    }

    .image-container-main p {
        font-size: 0.80rem;
    }

    .image-container-main span {
        font-size: 0.80rem;
    }

    .content-container p {
        font-size: 0.80rem;
    }

    .content-container a {
        font-size: 0.80rem;
    }
}

@media only screen and (max-width: 750px) {

    .content-container-main {
        padding: 1rem 1rem 2rem 1rem;
    }

    .image-container .mob-img {
        display: block;
    }

    .container.column {
        flex-direction: column;
    }

    .container.guest {
        background-color: white;
    }

    .image-container {
        width: 100%;
        padding: 0 0;
    }

    .image-container img {
        width: 100%;
    }

    .content-container {
        width: 100%;
        padding: 2rem 0 4rem 1rem;
    }

    .content-container h3 {
        font-size: 1.25rem;
    }

    .content-container p,
    .content-container a {
        font-size: 0.90rem;
    }
}
    

/* Course Section */

#course-section {
    background-color: #eaf4f4;
}

#heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}

#course-container-main-1 {
    padding: 2rem 4.5rem 1rem 4.5rem;
    display: flex;
}

#course-container-main-2 {
    display: flex;
    padding: 1rem 4.5rem 2rem 4.5rem;
}

.course {
    width: 32.5%;
    background-color: white;
    transition: all 800ms ease-out;
}

.course:hover {
    position: relative;
    bottom: 2px;
}

.course span {
    font-size: 0.9rem;
}

.course.two,
.course.five {
    margin: 0 2rem;
}

.course img {
    max-width: 100%;
}

.course-content {
    padding: 1rem 0 2rem 1rem;
}

.course-content h3 {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.course-content p {
    padding-top: 0.5rem;
    font-weight: 300;
}

.mob-courses {
    display: none;
}

@media only screen and (max-width: 800px) {

    #heading {
        font-size: 1.35rem;
    }

    .course span {
        font-size: 0.80rem;
    }

    .course-content h3 {
        font-size: 1rem;
    }

    .course-content p {
        font-size: 0.80rem;
    }
}

@media only screen and (max-width: 750px) {

    #course-container-main-1,
    #course-container-main-2 {
        display: none;
    }

    .mob-courses {
        display: block;
        padding: 1rem 1rem 2rem 1rem;
    }

    .mob-courses h3 {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 450;
    }

    .mob-courses .button {
        background-color: #e0e0e0;
        padding: 1rem 0 1.5rem 1rem;
    }
}

/* Thesis Section */

#thesis-section {
    background-color: #e0e0e0;
}

#thesis-section h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 2rem;
}

.thesis {
    display: flex;
}

.container.proto {
    background-color: #e07879;
}

p.para {
    padding-bottom: 0;
}

.mob-thesis {
    display: none;
}

@media only screen and (max-width: 800px) {

    #thesis-section h2 {
        font-size: 1.35rem;
    }

    .image-container-main h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 750px) {

    .thesis {
        display: none;
    }

    .mob-thesis {
        display: block;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    .video-container {
        width: 100%;
    }
}

/* Footer Section */

footer {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 0 1.5rem;
    font-size: 0.75rem;
    background-color: white;
}

footer nav ul {
    display: flex;
}

footer nav ul a {
    padding: 0 0.5rem;
}

footer nav ul a:last-child {
    padding-right: 0;
}

@media only screen and (max-width: 750px) {
   
    footer {
        padding: 1rem 0 1rem 1rem;
        align-items: center;
    }

    footer p {
        font-size: 0.70rem;
    }

    footer nav {
        display: none;
    }
}